@import 'settings';
@import 'foundation';

$section-header-bg: #c26e14;
$dark-yellow-olive: #9b831f;

body, table.body, h1, h2, h3, h4, h5, h6, p, td, th, a {
  font-family: 'Georgia', serif;
  line-height: 1.5em;
}

table.no-vpad {
  th.columns, td.columns  {
    padding-bottom: 0;
  }
}

.no-margin {
  margin-bottom: 0;
}

a {
  font-weight: bold;
}

.footer a {
  font-weight: normal;
  text-decoration: underline;
}

ul {
  margin-top: 0;
  li {
    line-height: 1.3em;
    margin-bottom: 6px;
  }
}

.shadow {
  background-color: $body-background;
  width: $global-width;
}

.header.text-right {
  .wrapper-inner {
    text-align: right !important;
  }
}
.header .wrapper-inner {
  padding: 20px;
}

p {
  &.header {
    font-size: 20px;
    small {
      font-size: 18px;
    }
  }

  &.highlight {
    color: $highlight !important;
    small {
      color: $highlight !important;
    }
  }
}

span.highlight, li.highlight {
  color: $highlight !important;
}

span.condensed {
  line-height: 1.4em;
}


th.month {
  th {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
  }
  background-color: #c26e14;
}

.logo {
  .wrapper-inner {
    padding: 10px;
  }
}

.heading {
  font-size: 22px;
  line-height: 30px;
}

.sub-heading {
  font-size: 18px;
  line-height: 1em;
  color: $dark-gray;
}

.section-header {
  @extend .orange-background;
  margin-bottom:15px;

  th.columns {
    th {
      padding-top: 5px;
      font-family: $heading-font-family;
      font-size: $h5-font-size;
    }
  }
}

.small, .small th, .small td, .small p {
  font-size: 14px;
}

.small-15 {
  font-size: 15px;
}

table.footer {
  th.menu-item {
    padding: 5px;
  }
}

p {
  &.h1-font-size { font-size: $h1-font-size; }
  &.h2-font-size { font-size: $h2-font-size; }
  &.h3-font-size { font-size: $h3-font-size; }
  &.h4-font-size { font-size: $h4-font-size; }
  &.h5-font-size { font-size: $h5-font-size; }
}

.dark-yellow-olive {
  color: $dark-yellow-olive;
}

.dark-gray .wrapper-inner {
  color: $dark-gray;
}

table.button.dark-yellow-olive table td {
  background-color: $dark-yellow-olive;
}

.no-pad-right { padding-right: 0 !important; }
.no-pad-left { padding-left: 0 !important; }

.last-no-pad-right th.last {
  padding: 0 !important;
}

table.button.outline.orange {
  border: 1px solid $highlight;
  table td {
    background-color: white;
    border: 0;

    a, a:hover, a:visited, a:focus {
      color: $highlight;
    }
  }
}

table.button.orange {
  table td {
    background-color: $highlight;
    border: 0;

    a, a:hover, a:visited, a:focus {
      color: white;
    }
  }
}

.bold {
  font-weight: bold !important;
}

.no-bold {
  font-weight: normal !important;
}

hr.orange {
  border: 0;
  border-top: 1px solid $highlight;
}

hr.condensed {
  margin: 5px 0;
}

.lh-normal {
  p {
    line-height: normal;
  }
}

.container.sans-serif {
  p {
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif !important;
  }
}

table.bg-black {
  background-color: black;

  th, td, p {
    background-color: black;
    color: white;

    a, a:visited, a:hover, a:focus {
      color: $orange;
    }
  }

  p.orange {
    color: $orange;
  }

}

.header {
  .sub-heading {
    font-size: 16px;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 5px;
  }
}

.top-row{
  background: $body-background;
  .hidden-text {
    font-size:8px;
    color:transparent;
  }

  #view-on-web-link {
    text-align: right;
    padding:10px 0;

    a {
      font-size: 10px;
      font-weight: 100;
      color: #909090;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

.email-header
{
  background: url("http://www.ishafoundation.org/mailmarketer/admin/temp/user/3/bg-image.png") no-repeat center;
  height: 130px;
  padding-top: 100px;

  .wrapper-inner
  {
    padding:30px 0 0 10px;
  }

  .header{
    margin-top: 20px;
    .heading
    {
      font-family: $heading-font-family;
      font-size:$h4-font-size;
      color: white;
      font-weight: bolder;
    }
    .sub-heading
    {
      font-family: $heading-font-family;
      font-size: $h6-font-size;
      color: $blue-accent-color;
      line-height: 33px;
    }
  }
}

.the-shadow{
  border-top: 4px solid #cccac0;
  height: 20px;
  padding: 0;
  background: $body-background;
  border-collapse: initial;
}

.section-title
{
  th.columns {
    padding-bottom: 5px;
    th {
      padding-top: 7px;
      padding-bottom: 0;
      font-family: $heading-font-family;
      font-size: $h5-font-size;
    }
  }
}

.section-title-large
{
  @extend .section-title;
  font-size: $h4-font-size;
  th.columns {
    th {
      padding-top: 10px;
    }
  }
}

.section-text{
  font-size: $global-font-size;
}

.read-more-link
{
  @extend .orange-text;
  font-family: $heading-font-family;
  font-size: $global-font-size;
}

.program-details{
  @extend .grey-background;

  p{
    padding-top: 14px;
    font-size: $global-font-size;
  }
}

.class-notes{
  p{
    padding-top: 7px;
    font-style: italic;
    font-size: $global-font-size*0.9;
  }
}

.quote{
  .wrapper-inner{
    padding-top: 25px;
  }

  p{
    font-family: $heading-font-family;
    font-style: italic;
    font-size: $h5-font-size;

    .gray-quote{
      color: #7c7c7c;
    }
  }
}

.orange-background{
  background: $highlight;
  color:white;
  table.body, h1, h2, h3, h4, h5, h6, p, td, th, a{
    color: white;
  }
}

.grey-background{
  background: #eee;
}

.orange-text{
  color: $highlight;
  table.body, h1, h2, h3, h4, h5, h6, p, td, th, a{
    color: $highlight;
  }
}

.alert-text {
  color: $anchor-color;
  font-weight: bold;
}

p{word-break: keep-all;}

.callout-inner p
{
  margin: 0 !important;
  text-align: center;
}

p.h1 { font-size: $h1-font-size; }
p.h2 { font-size: $h2-font-size; }
p.h3 { font-size: $h3-font-size; }
p.h4 { font-size: $h4-font-size; }
p.h5 { font-size: $h5-font-size; }
p.h6 { font-size: $h6-font-size; }

p.justify {
  text-align: justify;
}

.wider-gutter {
  td.large-12.last, th.large-12.last {
    padding-right: 32px;
  }
  td.large-12.first, th.large-12.first {
    padding-left: 32px;
  }
  td.columns.last, td.column.last, th.columns.last, th.column.last {
    padding-right: 32px;
  }
}

.wrapper.box {
  .wrapper-inner {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  border: solid 1px #f7dac8;
}