@import 'settings';
@import 'foundation';

$section-header-bg: #c26e14;
$dark-yellow-olive: #9b831f;

body, table.body, h1, h2, h3, h4, h5, h6, p, td, th, a {
  font-family: 'Georgia', serif;
  line-height: 1.5em;
}

table.no-vpad {
  th.columns, td.columns  {
    padding-bottom: 0;
  }
}

.no-margin {
  margin-bottom: 0;
}

a {
  font-weight: bold;
}

.footer a {
  font-weight: normal;
  text-decoration: underline;
}

ul {
  margin-top: 0;
  li {
    line-height: 1.3em;
    margin-bottom: 6px;
  }
}

.shadow {
  background-color: $body-background;
}

.header.text-right {
  .wrapper-inner {
    text-align: right !important;
  }
}
.header .wrapper-inner {
  padding: 20px;
}

p {
  &.header {
    font-size: 20px;
    small {
      font-size: 18px;
    }
  }

  &.highlight {
    color: $highlight !important;
    small {
      color: $highlight !important;
    }
  }
}

span.highlight {
  color: $highlight !important;
}

span.condensed {
  line-height: 1.4em;
}


th.month {
  th {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
  }
  background-color: #c26e14;
}

.logo {
  .wrapper-inner {
    padding: 10px;
  }
}

.heading {
  font-size: 22px;
  line-height: 30px;
}

.sub-heading {
  font-size: 18px;
  line-height: 1em;
  color: $dark-gray;
}

.section-header {
  background: $section-header-bg;

  th.columns {
    padding: 12px;
    th {
      font-size: 18px;
      color: white;
    }
  }
}

.small, .small th, .small td, .small p {
  font-size: 14px;
}

.small-15 {
  font-size: 15px;
}

table.footer {
  th.menu-item {
    padding: 5px;
  }
}

p {
  &.h1-font-size { font-size: $h1-font-size; }
  &.h2-font-size { font-size: $h2-font-size; }
  &.h3-font-size { font-size: $h3-font-size; }
  &.h4-font-size { font-size: $h4-font-size; }
  &.h5-font-size { font-size: $h5-font-size; }
}

.dark-yellow-olive {
  color: $dark-yellow-olive;
}

.dark-gray .wrapper-inner {
  color: $dark-gray;
}

table.button.dark-yellow-olive table td {
  background-color: $dark-yellow-olive;
}

.no-pad-right { padding-right: 0 !important; }
.no-pad-left { padding-left: 0 !important; }

.last-no-pad-right th.last {
  padding: 0 !important;
}

table.button.outline.orange {
  border: 1px solid $highlight;
  table td {
    background-color: white;
    border: 0;

    a, a:hover, a:visited, a:focus {
      color: $highlight;
    }
  }
}

table.button.orange {
  table td {
    background-color: $highlight;
    border: 0;

    a, a:hover, a:visited, a:focus {
      color: white;
    }
  }
}

.bold {
  font-weight: bold !important;
}

.no-bold {
  font-weight: normal !important;
}

hr.orange {
  border: 0;
  border-top: 1px solid $highlight;
}

hr.condensed {
  margin: 5px 0;
}

.lh-normal {
  p {
    line-height: normal;
  }
}

.container.sans-serif {
  p {
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif !important;
  }
}

table.bg-black {
  background-color: black;

  th, td, p {
    background-color: black;
    color: white;

    a, a:visited, a:hover, a:focus {
      color: $orange;
    }
  }

  p.orange {
    color: $orange;
  }

}

.quote{
  font-family: 'Georgia',serif;
  font-weight: normal;
  line-height: 1.5em;
  font-size: 1.05em;
  font-style: italic;
  color: #7c7c7c;

  .wrapper-inner{
    padding: 10px;
  }

  span{
    display: block;
  }
}