<row class="shadow collapse no-vpad"><columns>
    <p class="small text-center no-margin">
        Copyright &copy; 2016 Isha Australia
    </p>
</columns></row>

<row class="shadow collapse no-vpad footer">
    <columns>
        <p class="small text-center no-margin">
            <a href="http://ishayoga.org.au" target="_blank"> ishayoga.org.au </a> |
            <a href="http://ishayoga.org.au/contact-page/" target="_blank"> Contact us </a> |
            <a href="mailto:australia@ishafoundation.org?subject=unsubscribe" target="_blank"> Unsubscribe </a>
        </p>
    </columns>
</row>
<row class="shadow collapse no-vpad footer">
    <columns>
        <center>
            <menu>
                <item href="http://fb.com/ishayogaaustralia">
                    <img src="{{img}}/common/icons/facebook.png" alt="Isha Australia on Facebook">
                </item>
                <item href="https://twitter.com/IshaAus">
                    <img src="{{img}}/common/icons/twitter.png" alt="Isha Australia on Twitter">
                </item>
                <item href="http://meetup.com/isha-australia">
                    <img src="{{img}}/common/icons/meetup.png" alt="Isha Australia on Meetup">
                </item>
                <item href="http://youtube.com/user/ishafoundation">
                    <img src="{{img}}/common/icons/youtube.png" alt="Isha Foundation on Youtube">
                </item>
                <item href="http://isha.sadhguru.org/blog/">
                    <img src="{{img}}/common/icons/blog.png" alt="Isha Foundation Blog">
                </item>
            </menu>
        </center>
    </columns>
</row>