<row class="shadow collapse no-vpad footer">
    <columns>
        <p class="small text-center no-margin">
            <a href="mailto:asiapacific@ishafoundation.org" target="_blank"> Contact us </a> |
            <a href="mailto:asiapacific@ishafoundation.org?subject=unsubscribe" target="_blank"> Unsubscribe </a>
        </p>
    </columns>
</row>
<row class="shadow collapse no-vpad footer">
    <columns>
        <center>
            <menu>
                <item href="https://www.facebook.com/Isha-Indonesia-1665780683697788/">
                    <img src="{{img}}/common/icons/facebook.png" alt="Isha Singapore on Facebook">
                </item>
                <item href="http://youtube.com/user/ishafoundation">
                    <img src="{{img}}/common/icons/youtube.png" alt="Isha Foundation on Youtube">
                </item>
            </menu>
        </center>
    </columns>
</row>