row.shadow.collapse.no-vpad: columns
    p.small.text-center.no-margin Copyright &copy; 2016 Isha Singapore

row.shadow.collapse.no-vpad.footer: columns
    p.small.text-center.no-margin
        a(href="http://ishayoga.sg",target="_blank") ishayoga.sg
        span &nbsp;|&nbsp;
        a(href="mailto:singapore@ishayoga.org)",target="_blank") Contact us
        span &nbsp;|&nbsp;
        a(href="https://ishayoga.sg/privacy",target="_blank") Privacy

row.shadow.collapse.no-vpad.footer: columns
    center: menu
        item(href="http://fb.com/ishapage")
            img(src=img+"/common/icons/facebook.png",alt="Isha Singapore on Facebook")
        item(href="http://meetup.com/isha-singapore")
            img(src=img+"/common/icons/meetup.png",alt="Isha Singapore on Meetup")
        item(href="http://youtube.com/user/ishafoundation")
            img(src=img+"/common/icons/youtube.png",alt="Isha Foundation on Youtube")
