<row class="shadow collapse no-vpad"><columns>
    <p class="small text-center no-margin">
        Copyright &copy; 2016 Isha Malaysia
    </p>
</columns></row>

<row class="shadow collapse no-vpad footer">
    <columns>
        <p class="small text-center no-margin">
            <a href="http://malaysia.ishayoga.org/new/" target="_blank"> malaysia.ishayoga.org </a> |
            <a href="mailto:malaysia@ishafoundation.org " target="_blank"> Contact us </a> |
            <a href="https://ishayoga.sg/privacy" target="_blank"> Privacy </a>
        </p>
    </columns>
</row>
<row class="shadow collapse no-vpad footer">
    <columns>
        <center>
            <menu>
                <item href="https://www.facebook.com/ishamalaysia/">
                    <img src="{{img}}/common/icons/facebook.png" alt="Isha Malaysia on Facebook">
                </item>
                <item href="http://youtube.com/user/ishafoundation">
                    <img src="{{img}}/common/icons/youtube.png" alt="Isha Foundation on Youtube">
                </item>
            </menu>
        </center>
    </columns>
</row>