<row class="shadow collapse no-vpad"><columns>
    <p class="small text-center no-margin">
        Copyright &copy; 2016 Isha Singapore
    </p>
</columns></row>

<row class="shadow collapse no-vpad footer">
    <columns>
        <p class="small text-center no-margin">
            <a href="http://ishayoga.sg" target="_blank"> ishayoga.sg </a> |
            <a href="mailto:singapore@ishayoga.org" target="_blank"> Contact us </a> |
            <a href="https://ishayoga.sg/privacy" target="_blank"> Privacy </a> |
            <a href="mailto:singapore@ishayoga.org?subject=unsubscribe" target="_blank"> Unsubscribe </a>
        </p>
    </columns>
</row>
<row class="shadow collapse no-vpad footer">
    <columns>
        <center>
            <menu>
                <item href="http://fb.com/ishapage">
                    <img src="{{img}}/common/icons/facebook.png" alt="Isha Singapore on Facebook">
                </item>
                <item href="https://twitter.com/IshaSingapore">
                    <img src="{{img}}/2016/generic/twitter.png" alt="Isha Singapore on Twitter">
                </item>
                <item href="http://meetup.com/isha-singapore">
                    <img src="{{img}}/common/icons/meetup.png" alt="Isha Singapore on Meetup">
                </item>
                <item href="http://youtube.com/user/ishafoundation">
                    <img src="{{img}}/common/icons/youtube.png" alt="Isha Foundation on Youtube">
                </item>
                <item href="http://isha.sadhguru.org/blog">
                    <img src="{{img}}/common/icons/blog.png" alt="Isha Blog">
                </item>
            </menu>
        </center>
    </columns>
</row>