<row class="shadow collapse no-vpad"><columns>
    <p class="small text-center no-margin">
        Copyright &copy; 2016 Isha Hong Kong
    </p>
</columns></row>

<row class="shadow collapse no-vpad footer">
    <columns>
        <p class="small text-center no-margin">
            <a href="http://ishafoundation.org/hk" target="_blank"> ishafoundation.org/hk </a> |
            <a href="mailto:hongkong@ishafoundation.org" target="_blank"> Contact us </a> |
            <a href="http://www.ishafoundation.org/Copyright.isa" target="_blank"> Privacy </a>
            <a href="mailto:hongkong@ishafoundation.org?subject=unsubscribe" target="_blank"> Unsubscribe </a>
        </p>
    </columns>
</row>
<row class="shadow collapse no-vpad footer">
    <columns>
        <center>
            <menu>
                <item href="http://fb.com/hongkongisha">
                    <img src="{{img}}/common/icons/facebook.png" alt="Isha Hong Kong on Facebook">
                </item>
                <item href="https://twitter.com/ishafoundation">
                    <img src="{{img}}/common/icons/twitter.png" alt="Isha Foundation on Twitter">
                </item>
                <item href="http://meetup.com/isha-hong-kong">
                    <img src="{{img}}/common/icons/meetup.png" alt="Isha Hong Kong on Meetup">
                </item>
                <item href="http://youtube.com/user/ishafoundation">
                    <img src="{{img}}/common/icons/youtube.png" alt="Isha Foundation on Youtube">
                </item>
                <item href="http://isha.sadhguru.org/blog/">
                    <img src="{{img}}/common/icons/blog.png" alt="Isha Foundation Blog">
                </item>
            </menu>
        </center>
    </columns>
</row>