<container>

    <row class="orange-background quote">
        <columns large="1" class="no-pad-right no-pad-left">
            <wrapper>
                <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/3/quote-white.png">
            </wrapper>
        </columns>
        <columns large="11">
            <wrapper>
                <p>
                    Spirituality means you don’t try to find explanations for your nonsense – you are willing to face it.
                </p>
                <p class="text-right">- Sadhguru</p>
            </wrapper>
        </columns>
    </row>

    <row class="quote">
        <columns large="1" class="no-pad-right no-pad-left">
            <wrapper>
                <img src="{{img}}/au/common/quote.png">
            </wrapper>
        </columns>
        <columns large="11">
            <wrapper>
                <p>
                    Spirituality means you don’t try to find explanations for your nonsense – you are willing to face it.
                </p>
                <p class="text-right">- Sadhguru</p>
            </wrapper>
        </columns>
    </row>
    {{> drop-shadow }}

</container>