<container>
    <row class="section-title orange-background">
        <columns>
            Isha Monthly Sathsang
        </columns>
    </row>
    <row class="section-text">
        <columns>
            Isha Monthly Sathsang is an opportunity to reconnect with your kriya with Sadhguru's voice guiding you through the Shambhavi Mahamudra Kriya. Here are the details of our upcoming Sathsang:
        </columns>
    </row>

    <row class="no-vpad program-details">
        <columns>
            <p>
                <strong>Date & Time: </strong> 30 July, 5:00 PM to 7:15 PM <br/>
                <strong>Venue: </strong> Room 2001, 20/F, Elite Center, 22 Hung To Road, Kwun Tong
                ( <a href="#" target="_blank">Map</a>)
            </p>
        </columns>
    </row>

    <row class="class-notes">
        <columns>
            <p>Inner engineering online participants, who are not initiated into shambhavi, can join after Shambhavi
                practice is over. Please be outside the door by 6.35 pm. We will open the doors as soon as Shambhavi practice is over to let you in. </p>
        </columns>
    </row>

    {{> drop-shadow }}
</container>